body {
  background: linear-gradient(to bottom right, #eeeeee, #c9c6c6);
    font-family: 'Montserrat', sans-serif;
}

header {
  font-weight: 900;
  font-size: 27px;
  padding: 20px;
  text-align: center;
  font-family: 'Luckiest Guy',cursive;
}

.tools{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* erase button */
#erase-button,
#eraser-button {
  color: #000;
  border-radius: 7px;
  border: 2px solid #000000;
  padding: 12px 3em 16px 3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 1em;
  cursor: pointer;
}

#erase-button:hover,
#eraser-button:hover {
  background-color: rgba(85, 85, 85, 0.7);
  opacity: 1.1;
  transform: scale(1.1);
  transition: background-color 0.3s ease-in-out;
}

/* grid slider */
.slider-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.slider-container label {
  font-size: 18px;
}

.slider-container input[type="range"] {
  width: 50%;
  height: 10px;
  border-radius: 5px;
  background-color: #e0e0e0;
  outline: none;
  opacity: 0.7;
}

.slider-container input[type="range"]:hover {
  opacity: 1;
  transform: scale(1.03);
}

.main{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}
/* grid box */
.grid-container {
  margin:3em 2em 3em 2em;
  height: 550px;
  width: 550px;
  box-sizing: border-box;
  display: grid;
  background:#fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.grid-item {
  /* border: 1px dashed rgba(0, 0, 0,0.05); */
  padding-bottom: calc(100% / var(--grid-size));
}


.grid-item:hover {
  background-color: #38373748;
  transition: background-color 0.2s ease-in-out;
}

/* grid size display */
.grid-size-display {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* footer */
footer {
  font-size: 1.5em;
  font-weight: 590;
  text-align: center;
  padding: 10px;
}

.fa-github {
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.5);
}

footer a:visited .fa-github {
  color: #000;
}

/* media queries */
@media (max-width: 1150px) {
  .grid-container{
    width: 450px;
    height: 450px;
  }
}

@media (max-width: 950px) {
  .grid-container{
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 750px) {
  .grid-container{
    width: 350px;
    height: 350px;
  }
  .main{
    flex-direction: column-reverse;
  }
}

@media (max-width: 550px) {
  .grid-container{
    width: 330px;
    height: 330px;
  }
  .main{
    flex-direction: column-reverse;
  }
}

@media (max-width: 400px) {
  .grid-container{
    width: 280px;
    height: 280px;
  }
  .main{
    flex-direction: column-reverse;
  }
}