body {
  background: linear-gradient(to bottom right, #eeeeee, #c9c6c6);
}

header {
  font-weight: 800;
  font-size: 2em;
  padding: 20px;
  text-align: center;
}


/* grid slider */
.slider-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.slider-container label {
  font-size: 18px;
}

.slider-container input[type="range"] {
  width: 50%;
  height: 10px;
  border-radius: 5px;
  background-color: #e0e0e0;
  outline: none;
  opacity: 0.7;
}

.slider-container input[type="range"]:hover {
  opacity: 1;
  transform: scale(1.03);
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* grid box */
.grid-container {
  margin:3em 2em 3em 2em;
  height: 550px;
  width: 550px;
  box-sizing: border-box;
  display: grid;
  background:#fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.grid-item {
  /* border: 1px dashed rgba(0, 0, 0,0.05); */
  padding-bottom: calc(100% / var(--grid-size));
  animation: bounce 0.5s ease-in-out infinite;
}
  /* animation */
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2px);
    }
}


.grid-item:hover {
  background-color: #dadada;
  transition: background-color 0.2s ease-in-out;
}

/* grid size display */
.grid-size-display {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* footer */
footer {
  font-size: 1em;
  text-align: center;
  padding: 10px;
}


/* media queries */
@media (max-width: 1150px) {
  .grid-container{
    width: 450px;
    height: 450px;
  }
}

@media (max-width: 950px) {
  .grid-container{
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 750px) {
  .grid-container{
    width: 350px;
    height: 350px;
  }
  .main{
    flex-direction: column-reverse;
  }
}

@media (max-width: 550px) {
  .grid-container{
    width: 330px;
    height: 330px;
  }
  .main{
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .grid-container{
    width: 280px;
    height: 280px;
  }
  .main{
    flex-direction: column;
  }
}